<div class="content container">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
        <section class="widget widget-tabs">

            <% if(typeof headline !== 'undefined' && _.isEmpty(headline) === false) { %>
            <h3><%= headline %></h3>
            <% } %>

            <header>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#create" data-toggle="tab"><%= _.t('register') %></a>
                    </li>
                    <li>
                        <a href="#login" data-toggle="tab"><%= _.t('login') %></a>
                    </li>
                </ul>
            </header>

            <div class="body tab-content">
                <div id="login" class="tab-pane">
                    <section class="widget login-widget login-tab">
                        <header class="text-align-center">
                            <h4><%= _.t('login_headline') %></h4>
                        </header>

                        <div class="login-body">
                            <!-- PUT YOU CONTENT HERE WITH JS -->
                        </div>
                    </section>
                </div>
                <div id="create" class="tab-pane active">
                    <section class="widget login-widget login-tab">
                        <header class="text-align-center">
                            <h4><%= _.t('create_account_headline') %></h4>
                        </header>

                        <div class="register-body">
                            <!-- PUT YOU CONTENT HERE WITH JS -->
                        </div>
                    </section>
                </div>
            </div>

        </section>
    </div>
</div>