<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <div class="row">
                <div class="col-md-12">
                    <div class="password-notification alert-danger text-center lead">
                        <%= _.t('get_new_password_invalid_secret') %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#mod/auth/password" class="btn btn-primary pull-right"><%= _.t('password_lost') %></a>
                </div>
            </div>
        </section>
    </div>
</div>