<div id="pwlost" class="col-xs-12">
    <div class="row">
        <div class="col-xs-12 pwlost-content">
            <%= _.c('password_lost')%>
        </div>
    </div>

    <div class="row">
        <form id="form-pwlost" class="form-horizontal" role="form">
            <fieldset>
                <div class="form-group">
                    <label for="email" class="col-xs-3 control-label"><%= _.t('email')%></label>

                    <div class="col-xs-9">
                        <input type="email" class="form-control" id="email" name="email" placeholder="<%= _.t('ph_email')%>" required>
                    </div>
                </div>

                <div class="col-xs-3"></div>
                <div class="col-xs-3 col-xs-offset-3">
                    <button type="submit" class="btn btn-primary" id="submit-pwlost" data-loading-text="<%= _.t('loading') %>  <i class='icon-spinner icon-spin'></i>"><%=_.t('get_password')%></button>
                </div>
            </fieldset>
        </form>
    </div>
</div>