<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <section class="widget widget-tabs">
        <div class="body tab-content">
            <header>
            <h3><%= _.t('userdata_headline') %></h3>
            <h4><%= _.t('userdata_subline') %></h4>

            <div class="panel panel-default">
                <div class="panel-body">
                    <%= _.t('register_description') %>
                </div>
            </div>
            <legend>
            <h4><%= _.t('register_subheadline') %></h4>
            </legend>
        </header>
            <div id="create" class="tab-pane active clearfix">
                <section class="widget login-widget login-tab">
                    <br />
                    <div>
                        <form id="form-participate" class="form-horizontal label-left" role="form" onsubmit="return false;">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="email"><%= _.t('email') %> *</label>

                                    <div class="controls form-group">
                                        <input type="email" name="email" id="email" class="form-control" value="<%= email %>" placeholder="<%= _.t('ph_email') %>" required />
                                    </div>
                                </div>

                                <% if(_.c('mod_participate_userdata').indexOf('gender') !== -1) { %>
                                <div class="control-group">
                                    <label for="gender" class="control-label"><%= _.t('gender') %></label>
                                    <div class="controls form-group">
                                        <select name="gender" id="gender" class="form-control">
                                            <option value="female"
                                            <%= (user_data.gender === 'female')?' selected="selected"':'' %>><%= _.t('gender_female') %></option>
                                            <option value="male"
                                            <%= (user_data.gender === 'male')?' selected="selected"':'' %>><%= _.t('gender_male') %></option>
                                        </select>
                                    </div>
                                </div>
                                <% }

                                if(_.c('mod_participate_userdata').indexOf('name') !== -1) { %>
                                    <div class="clearfix visible-xs"></div>
                                <div class="control-group">
                                        <label class="control-label" for="firstname"><%= _.t('firstname') %> <%= (required.name)?'*':'' %></label>
                                    <div class="controls form-group">
                                        <input type="text" name="firstname" id="firstname" class="form-control" value="<%= user_data.firstname %>" placeholder="<%= _.t('ph_firstname') %>" <%= (required.name)?'required':'' %> />
                                    </div>
                                </div>
                                <div class="control-group">
                                        <label class="control-label" for="lastname"><%= _.t('lastname') %> <%= (required.name)?'*':'' %></label>
                                    <div class="controls form-group">
                                        <input type="text" name="lastname" id="lastname" class="form-control" value="<%= user_data.lastname %>" placeholder="<%= _.t('ph_lastname') %>" <%= (required.name)?'required':'' %> />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="nickname"><%= _.t('nickname') %> <%= (required.name)?'*':'' %></label>
                                    <div class="controls form-group">
                                        <input type="text" name="nickname" id="nickname" class="form-control" value="<%= user_data.nickname %>" placeholder="<%= _.t('ph_nickname') %>" <%= (required.name)?'required':'' %> />
                                    </div>
                                </div>
                                <% }

                                if(_.c('mod_participate_userdata').indexOf('birthday') !== -1) { %>
                                <div class="control-group">
                                    <label class="control-label" for="birthday" class="col-xs-12 col-sm-3 control-label"><%= _.t('birthday') %> <%= (required.birthday)?'*':'' %></label>

                                    <div class="controls form-group">
                                        <input type="text" name="birthday" id="birthday" class="form-control" value="<%= user_data.birthday %>" placeholder="<%= _.t('ph_birthday') %>" <%= (required.name)?'required':'' %> />
                                    </div>
                                </div>
                                <% }

                                if(_.c('mod_participate_userdata').indexOf('address') !== -1) { %>
                                <div class="control-group">
                                    <label class="control-label" for="street" class="col-xs-12 col-sm-3 control-label"><%= _.t('street') %> <%= (required.address)?'*':'' %></label>

                                    <div class="controls form-group">
                                        <input type="text" name="street" id="street" class="form-control" value="<%= user_data.street %>" placeholder="<%= _.t('ph_street') %>" <%= (required.address)?'required':'' %> />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label"><%= _.t('zip_city') %> <%= (required.address)?'*':'' %></label>

                                    <div class="controls form-group">
                                        <input type="text" name="zip" id="zip" class="form-control" value="<%= user_data.zip %>" placeholder="<%= _.t('ph_zip') %>" <%= (required.address)?'required':'' %> />
                                        <input type="text" name="city" id="city" class="form-control" value="<%= user_data.city %>" placeholder="<%= _.t('ph_city') %>" <%= (required.address)?'required':'' %> />
                                    </div>
                                </div>
                                <% }

                                if(_.c('mod_participate_userdata').indexOf('field1') !== -1) { %>
                                <div class="control-group">
                                    <label class="control-label" for="field1"><%= _.c('user_data_indi_field1') %> <%= (required.field1)?'*':'' %></label>

                                    <div class="control-group input-group-sm">
                                        <input type="text" name="field1" id="field1" value="<%= user_data.field1 %>" class="form-control" placeholder="<%= _.t('ph_indi_field1') %>" <%= (required.field1)?'required':'' %> />
                                    </div>
                                </div>
                                <% }

                                if(_.c('mod_participate_userdata').indexOf('field2') !== -1) { %>
                                <div class="control-group">
                                    <label class="control-label" for="field2"><%= _.c('user_data_indi_field2') %> <%= (required.field2)?'*':'' %></label>

                                    <div class="control-group input-group-sm">
                                        <input type="text" name="field2" id="field2" value="<%= user_data.field2 %>" class="form-control" placeholder="<%= _.t('ph_indi_field2') %>" <%= (required.field2)?'required':'' %> />
                                    </div>
                                </div>
                                <% }

                                if(_.c('mod_participate_userdata').indexOf('field3') !== -1) { %>
                                <div class="control-group">
                                    <label class="control-label"  for="field3"><%= _.c('user_data_indi_field3') %> <%= (required.field3)?'*':'' %></label>

                                    <div class="control-group input-group-sm">
                                        <input type="text" name="field3" id="field3" value="<%= user_data.field3 %>" class="form-control" placeholder="<%= _.t('ph_indi_field3') %>" <%= (required.field3)?'required':'' %> />
                                    </div>
                                </div>
                                <% } %>

                                <div class="form-group no-margin">
                                    <div class="control-group input-group-sm">
                                        <div class="checkbox">
                                            <label class="input-append">
                                                <input type="checkbox" name="terms" id="terms" <%= (user_data.terms === 'true')?'checked':'' %> /> <% var terms_trans = _.t('agb'), terms_link = '<a href="#/page/agb">' + _.t('agb') + '</a>'; print(_.sprintf(terms_trans, terms_link)); %>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group no-margin">
                                    <div class="control-group input-group-sm">
                                        <% if(_.c('mod_newsletter_activated') === '1') { %>
                                        <div class="checkbox">
                                            <label class="input-append">
                                                <input type="checkbox" name="newsletter" id="newsletter" <%= (user_data.newsletter === 'true')?'checked':'' %> /> <%= _.t('nl_subscribe') %>
                                            </label>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p class="text-danger">
                                    <%= _.t('required_field') %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <button type="button" class="btn btn-primary submit"><%= _.t('btn_next_userdata') %></button>
                </section>
            </div>
        </div>
    </section>
</div>
</section>
</div